<!DOCTYPE html>
<html>
  <body>
	<div style="width:200px;">
	<form method='post' action='/unsubscribe/output'>
		<p><strong>Email Address to unsubscribe:</strong></p>
		<p><input type="text" name='email' style='font-size:14pt; width:190px;'><br></p>
		<p><input type="submit" value="Unsubscribe"></p>
	</form>		
	</div>
  </body>
</html>
